pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.7.0
black==23.11.0
mypy==1.7.1
mypy-extensions==1.0.0
isort==5.12.0
flake8==6.1.0
Flake8-pyproject==1.2.3
django==4.2.*
drf-yasg
pytest-asyncio
pytest-mock
requests-mock
